body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/star.gif') center / cover no-repeat fixed;
}

.container {
    background-color: rgba(12, 12, 12, 0.7);
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    box-sizing: border-box;
    width: 400px;
    box-shadow: 0 0 1px 5px #fff;
    margin: 10px auto;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    top: 50px;
    display: block;
    margin: auto;
    object-fit: cover;
    box-shadow: 0 0 1px 5px #fff;
}

.profile-picture:hover {
    transform: scale(1.1);
}

.name, .bio, .factT {
    color: #ffffff;
}

.pronouns, .songN {
    color: #afafaf;
}

.name {
    margin-top: 40px;
    font-size: 40px;
}

.bio {
    margin-bottom: 40px;
    font-size: 25px;
}

.pronouns {
    margin-top: -36px;
    font-size: 20px;
}

.factT {
    margin-top: 60px;
    font-size: 40px;
}

.fact {
    color: #f7f7f7;
    margin-top: -40px;
    margin-bottom: 85px;
    font-size: 20px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

.link-button:hover {
    transform: scale(1.1);
    background-color: #333;
}

.b1 { background-color: #FF0000; }
.b2 { background-color: #1DA1F2; }
.b3 { background-color: #5865F2; }
.b4 { background-color: #1ed760; }
.b5 { background-color: #0062FE; }
.b6 { background-color: #343D44; }

#cursor-trail, .cursor-line {
    position: absolute;
    pointer-events: none;
}

.cursor-line {
    height: 5px;
    background-color: #fff;
    transform-origin: left center;
}

.songF {
    color: #ffffff;
    margin-top: 60px;
    font-size: 20px;
}

.songT {
    color: #ffffff;
    margin-top: -40px;
    font-size: 20px;
}

.songN {
    margin-top: -25px;
    font-size: 15px;
}

.song{
    margin-bottom:100px;
}

.visualizer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -109px auto -10px;
    border-radius: 20px;
    overflow: hidden;
    width: 400px;
    height: 100px;
}

@media (max-width: 720px) {
    .body {
        margin: -150px -12px 0;
        transform: scale(0.65);
    }

    .song, .visualizer {
        margin: -50px 0;
        transform: scale(0);
    }
}