body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('images/star.gif') fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    background-color: rgba(12, 12, 12, 0.7);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    width: 400px;
}

.profile-picture {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}

.name {
    color: #ffffff;
}

.bio {
    color: #ffffff;
    margin-bottom: 40px;
}

.pronouns {
    color: #afafaf;
    margin-top: -25px;
}

.factT {
    color: #ffffff;
    margin-top: 60px;
}

.fact {
    color: #f7f7f7;
    margin-top: -15px;
}

.links {
    display: flex;
    justify-content: center;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    transition: background-color 0.3s;
}

.twitter {
    background-color: #1DA1F2;
}

.discord {
    background-color: #5865F2;
}

.youtube {
    background-color: #FF0000;
}

.link-button:hover {
    background-color: #333;
}

#cursor-trail {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.cursor-line {
    position: absolute;
    height: 5px;
    background-color: #fff;
    transform-origin: left center;
    pointer-events: none;
}

@media (max-width: 600px) {
    .container {
        width: 90%;
    }

    .link-button {
        padding: 8px 10px;
    }
}